$white: #fff;
$dark-bg: #121015;
$active: #5454ff;
$primary-btn: #1324ff;

body {
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  color: $white;
}
a {
  text-decoration: none;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.movie {
  display: flex;
  background: $dark-bg;
  padding: 30px;

  &__detail {
    flex-grow: 0;
    flex-basis: 60%;
    padding: 15px;
    background: rgba($white, 0.2);
    overflow: scroll;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 40%;

    &__btn {
      display: block;
      width: 200px;
      height: 40px;
      margin-bottom: 10px;
      background: $primary-btn;
      color: $white;
      line-height: 40px;
      text-align: center;

      &:last-child {
        margin-bottom: 0px;
      }

      &.active {
        background: $active;
        box-shadow: 0 0 5px $white;
      }
    }
  }

}

.movies {
  padding: 30px 0;
  background: $dark-bg;

  &__title {
    margin: 0 0 30px 40px;
  }

  &__section-title {
    margin: 0 40px 20px 40px;
    padding: 0 0 5px;
    color: $white;
    border-bottom: 1px solid $white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0;
    list-style: none;

    &__item {
      flex-grow: 0;
      flex-basis: 25%;

      &.active {

        background: rgba($active, 0.5);
      }
    }
  }
}

.card {
  text-align: center;

  &__image {
    
  }

  &__title {
    transform: translate3d(0px,-20px,0);
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba($dark-bg, 0.9);
    // box-shadow: 0 -5px 2px rgba($dark-bg, 0.9);
  }
}